header {
    border-bottom: 1px solid #ececec;
}
.page-header {
    display: flex;
}
.list-contacts {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--secondary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    color: var(--accent-color);
}
}
.contact-icon {
    margin-right: 10px;
    display: inline-block;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
