/* section-team */
.team {
    background-color: #f5f4fa;
}

.team__list {
    display: flex;
}

.team__list .box {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__list .box+.box {
    margin-left: 30px;
}

.box .team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    text-align: center;
    font-family: 'Roboto';

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__profession {
    font-family: 'Roboto';

    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

/* icons-team */
.list-social-links {
    display: flex;
    justify-content: center;
}

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {background-color: var(--accent-color);
}}

.social-icon {
    fill: var(--icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    fill: var(--contrast-color);
}
}

.list-social-links .social-iteam+.social-iteam {
    margin-left: 10px;
}