:root {
    --primery-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --contrast-color: #ffffff;
    --background-color: #ffffff;
    --icon-color: #afb1b8;
    --animation-fill: fill 5550ms cubic-bezier(0.4, 0, 0.2, 1);
}